
body {
  font-family: Inter, Roboto, sans-serif;
  font-size: 16px;
  margin: 0;
  padding-bottom: 1000px;
  /* display: flex; */
  min-height: 100vh;
  background: linear-gradient(145deg, #030303, #202020); 
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), /* Top highlight */ 
              inset 0 -1px 0 rgba(0, 0, 0, 0.5), /* Bottom shadow */ 
              0 4px 6px rgba(0, 0, 0, 0.5); /* Outer shadow */;
  color-scheme: dark;
}

/* .body-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 90px;
} */
form {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
}
form h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color: #333;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}
textarea {
  resize: vertical;
  height: 100px;
}
/* button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
} */
button:hover {
  background-color: #0056b3;
}
