/* Basic styling for the navbar */
.navbar {
  height: 76px;
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background-color: rgba(15, 15, 15, 0.9);
  backdrop-filter: blur(20px);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 2px solid rgb(19, 19, 19);
}


/* Styling for the divs inside the navbar */
.left-container {
  display: flex;
  flex: 1;
}
.right-container {
  display: flex;
  flex: 3;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
  padding-right: 70px;
}



.searchElement{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c2c2c;
  height: 50px;
  width: 45%;
  border-radius: 10px;
  border-style: none;
  padding: 0px 20px;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.searchElement button {
  all: unset;
  display: inline-block; 
  cursor: pointer;
  margin-left: 10px
}
.searchElement img {
  color: white;
}

.searchIcon {
  display: none;
  width: 30px;
}
.searchElement input {
  all: unset;
  width: 100%; 
  box-sizing: border-box;
}
.searchElement:focus-within { 
  border: 2px solid rgb(168, 168, 168);
  
}
.searchElement input::placeholder {
  color: white;
  font-size: 16px;
}
.searchElement input::placeholder, .searchElement img {
  opacity: 0.7;
}

.second-div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.second-div button {
  all: unset;
  color: white;
  height: 50px;
  margin-left: 20px;
  border-bottom: 0px;
  border-radius: 2px;
  font-size: 17px;
  font-weight: 700;
  transition: all 0.3s;
  display: inline-block; 
  cursor: pointer; 
  -webkit-tap-highlight-color: transparent;
  outline: none;
  text-decoration: none;
  
}

.second-div img {
  display: none;
  width: 30px;
  height: 100%;
}
.second-div button:hover {
  border-bottom: 3px solid white;
}
/* Responsive design for smaller devices */
@media (max-width: 900px) {
  .searchElement {
    display: none;
  }
  .searchIcon {
    display: inline;
  }
  .second-div span {
    display: none;
  }

  .second-div img {
    display: inline;
  }

  .navbar div {
    margin: 10px 0;
  }
}